.oferta,
.o-nas {
  min-height: 600px;
}

nav ul a {
    color: #202124;
}


nav ul .active {
  color: #202124 !important;
  background-color: #ffffffff !important;
  border-bottom: 6px inset #0091ea;
  height: 65px;
}

nav #logo-container  {
  height: 64px;
}

nav .brand-logo img {
  width: 130px;
  padding: 10px;
}


nav .sidenav-trigger i {
  font-size: 40px;
  color: #202124;
}

nav .sidenav .active {
  border-bottom: none;
  border-right: 6px inset #0091ea;
  height: initial;
}

.sidenav li {
  margin-top: 20px;
}

.sidenav li * {
  color: #202124;
  font-size: 1.5em !important;
}

.sidenav li:nth-child(1) {
  margin-top: 50px;
}



#header {
  overflow: hidden;
}

.parallax-container .parallax img {
  opacity: 0.5;
}

.parallax-container {
  overflow: hidden !important;
}

.header-card {
  width: 70%;
}
.wrpr {
  position: relative;
  overflow: hidden;
}

.card-action > a {
  color: #00838f !important;
}

.card.small {
  height: initial;
}

@media only screen and (min-width: 992px)
{
  .parallax-container {
    overflow: initial !important;
  }
  .card.small  {
    margin: auto;
    width: 20vw;
  }

  .contact-row {
    margin-bottom: 50px;
  }

  .companies {
    display: flex;
    flex-direction: row ;
    max-width: 1120px ;
    overflow: unset;
    margin: 0 auto;

  }

  .companies-item img {
    width: 150px;
    margin: 20px 5px;
  }

  .container iframe {
    width: 500px;
    height: 400px;
    display: flex;
    margin: 0 auto;
  }
}
.wrpr img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.img-before,
.img-after {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  pointer-events:none;
  overflow: hidden;
}

.img-before {
  position: absolute !important;
  top:0;
  margin: 0 -250px 0 0;
  overflow: hidden !important;
}

.img-after {
  top:0;
  right: 0;
}


.scroller{
  width: 50px;
  height:50px;
  margin: auto;

  position: absolute !important;
  top: 50%;
  left: 100%;
  background-color: rgba(0,0,0,0);
  opacity:0.9;
  transition: opacity 0.12s ease-in-out;
  pointer-events:auto;
  cursor: pointer;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.);
}
.scroller-thumb {
  width: 50px;
  height:50px;
  position: relative;
  left:0;
  top:0;
  transform: rotate(45deg);
  background-color: #42a5f5;
}
.scroller-thumb:hover{
  opacity:1;
}
.scrolling{
  pointer-events:none;
  opacity:1;
}
.scroller:before,
.scroller:after{
  content:" ";
  display: block;
  width: 7px;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3.5px;
  z-index: 30;
  transition:0.1s;
  background: #42a5f5;
  box-shadow: 3.5px 0px 7px rgba(100, 100, 100, 0.01);
}

.scroller:before{
  top:45px;
}
.scroller:after{
  bottom:49px;
}

.ulist {
  margin-left: 30px;
}

.ulist li {
  list-style: circle !important;

}

#download-button {
  margin-top: 40px;
}
.card {
  transition: all 0.5s ease-out;
}
.card:hover {
  -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.card-action {
  color: #3B28CC !important;
}

.oferta ul {
  list-style: circle;
}

.gallery {
  display: flex;
  flex-direction: row;
  max-width: 788px;
  margin: 0 auto;
  overflow: hidden;
}

.gallery img {
  height: 30vh;
  margin: 10px 10px;
}

.container iframe {
  display: flex;
  margin-bottom: 40px;
}




@media only screen and (max-width: 992px) {
  .companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 300px;
    margin: 0 auto;
  }
  
  .companies-item img {
    width: 300px;
    margin: 20px auto;
  }

  .container iframe {
    width: 95%;
  }
}

#formsubmit {
  display: none;
}

.card-action h6,
.card-content h{
 text-align: center;
}


